div{
	float: left;
}
li {
	list-style: none;
}
li a{
	text-decoration: none;
	margin-left: 70px;
}
.gm{
	font-size: 20px;
	margin-left:70px ;
	color: black;
	text-decoration: none;
}
.ins {
	font-size: 40px;
	margin-left:120px ;
	color: black;
	text-decoration: none;

}
.ins :hover{
text-shadow: 5px 5px #ccc;
}
a:hover img{
	-moz-transform: scale(2) rotate(360deg) translateX(10px) translateY(10px);
-webkit-transform: scale(2) rotate(360deg) translateX(10px) translateY(10px);
-o-transform: scale(2) rotate(360deg) translateX(10px) translateY(10px);
-ms-transform: scale(2) rotate(360deg) translateX(10px) translateY(10px);
transform: scale(2) rotate(360deg) translateX(10px) translateY(10px);

-webkit-transition: all 1000ms ease-in-out;
-moz-transition: all 1000ms ease-in-out;
-ms-transition: all 1000ms ease-in-out;
-o-transition: all 1000ms ease-in-out;
transition: all 1000ms ease-in-out;
}
